body {
	color: #333333;
	background-color: #EEEEEE;
	line-height: 1.8;
	font-size: 1em;
	font-family: 'noto sans', arial, sans-serif;
}

a {
	color: #4b8cf4;
	text-decoration: none;
}

a:hover {
	color: #6eaef8;
}

a:active {
	color: #3a7be3;
}

p {
	margin: 0 0 20px;
}

iframe {
	text-align: center;
	margin-top: 15px;
	width: 650px;
	height: 80%;
}

.nav {
	width: 650px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

.container {
	display: flex;
	flex-direction: column;
	width: 650px;
	height: calc(100% - 70px);
	margin-left: auto;
	margin-right: auto;
}

.name {
	font-size: 40px;
}

.links {
	margin-bottom: 8px;
}

.nav a {
	color: #333333;
	text-decoration: none;
}

.nav a:hover {
	text-decoration: underline;
}

.nav .name a:hover {
	text-decoration: none;
}

.block-text {
	display: none;
	margin-top: 15px;
}

.active {
	display: inline;
}

.resume {
	text-align: center;
}

.bottom-bar {
	width: 100%;
	padding: 5 0 5 0;
	text-align: center;
}

.bottom-bar img:hover{
	opacity: 0.8;
}

.bottom-img {
	width: 6%;
}

.splash-img {
	display: block;
	margin: auto;
	width: 80%;
	border-radius: 5px;
}

.button {
	color: #EEEEEE;
	padding: 0px 8px;
  text-align: center;
	text-decoration: none;
	background-color: #4b8cf4;
	border-radius: 2px;
}

.button:hover {
	background-color: #6eaef8;
}

.button:active {
	background-color: #3a7be3;
}

#contact {
	color: #EEEEEE;
	padding: 4px 8px;
  text-align: center;
	text-decoration: none;
	background-color: #4b8cf4;
	border-radius: 2px;
}

#contact:hover {
	background-color: #6eaef8;
}

#contact:active {
	background-color: #3a7be3;
}

.resume-btn {
	padding: 8px 16px;
}

.project-img {
	width: 300px;
}

.project-img:hover {
	opacity: 0.7;
	cursor: pointer;
}

.projects {
	text-align: center;
}

@media screen and (max-width: 650px) {
	.container, .nav {
		width: auto;
	}
	iframe {
		display: none;
	}
	.resume {
		padding-bottom: 20px;
	}
}

.modal-img {
	width: 650px;
}

.modal-dialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 1;
  opacity:0;
  -webkit-transition: opacity 200ms ease-in;
  -moz-transition: opacity 200ms ease-in;
  transition: opacity 200ms ease-in;
  pointer-events: none;
}

.modal-dialog:target {
  opacity:1;
  pointer-events: auto;
}

.modal-dialog > div {
  width: 60%;
  position: relative;
  margin: 5% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #EEE;
}

.modal-title {
	font-size: 1.2em;
	font-weight: bold;
}

.modal-body {
	text-align: left;
	font-size: .9em;
}

.close {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }
