body {
	color: #333333;
	background-color: #EEEEEE;
	line-height: 1.8;
	font-size: 16px;
	font-family: 'noto sans', arial, sans-serif;
}

p {
	margin: 0 0 20px;
}

iframe {
	margin-top: 15px;
	width: 650px;
	height: 80%;
}

.nav {
	width: 650px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

.container {
	display: flex;
	flex-direction: column;
	width: 650px;
	height: calc(100% - 70px);
	margin-left: auto;
	margin-right: auto;
}

.name {
	font-size: 40px;
}

.links {
	margin-bottom: 8px;
}

.nav a {
	color: #333333;
	text-decoration: none;
}

.nav a:hover {
	text-decoration: underline;
}

.nav .name a:hover {
	text-decoration: none;
}

.links #contact {
	border-style: solid;
	border-width: 1.5px;
	padding: 0 8 0 8;
	font-weight: bold;
}

.block-text {
	display: none;
}

.active {
	display: inline;
	flex-grow: 1;
}

.resume {
	text-align: center;
}

.bottom-bar {
	padding: 10 0 5 0;
	align-self: center;
}

.bottom-bar img:hover{
	opacity: 0.8;
}

.bottom-img {
	width: 30px;
}

.splash-img {
	display: block;
	margin: auto;
	margin-top: 15px;
	width: 80%;
	border-radius: 5px;
}

.spacer {
	padding-top: 15px;
}

.resume-btn {
	color: #EEEEEE;
	padding: 8px 16px;
  text-align: center;
	text-decoration: none;
	background-color: #4b8cf4;
	border-radius: 2px;
}

.resume-btn:hover {
	background-color: #6eaef8;
}

.resume-btn:active {
	background-color: #3a7be3;
}