// Start with assigning color names to specific hex values.
$white:  #fff !default;
$black:  #000 !default;
$red:    #d9534f !default;
$orange: #f0ad4e !default;
$yellow: #ffd500 !default;
$green:  #5cb85c !default;
$blue:   #0275d8 !default;
$teal:   #5bc0de !default;
$pink:   #ff5b77 !default;
$purple: #613d7c !default;

// Create grayscale
$gray-dark:                 #292b2c !default;
$gray:                      #464a4c !default;
$gray-light:                #636c72 !default;
$gray-lighter:              #eceeef !default;
$gray-lightest:             #f7f7f9 !default;

$border-radius:          .25rem !default;
$border-radius-lg:       .3rem !default;
$border-radius-sm:       .2rem !default;

$grid-columns:               12 !default;
$grid-gutter-width-base:     30px !default;
$grid-gutter-widths: (
  xs: $grid-gutter-width-base,
  sm: $grid-gutter-width-base,
  md: $grid-gutter-width-base,
  lg: $grid-gutter-width-base,
  xl: $grid-gutter-width-base
) !default;

$card-spacer-x:            1.25rem !default;
$card-spacer-y:            .75rem !default;
$card-border-width:        1px !default;
$card-border-radius:       $border-radius !default;
$card-border-color:        rgba($black,.125) !default;
$card-border-radius-inner: calc(#{$card-border-radius} - #{$card-border-width}) !default;
$card-cap-bg:              $gray-lightest !default;
$card-bg:                  $white !default;

$card-link-hover-color:    $white !default;

$card-img-overlay-padding: 1.25rem !default;

$card-deck-margin:          ($grid-gutter-width-base / 2) !default;

$card-columns-count:        3 !default;
$card-columns-gap:          1.25rem !default;
$card-columns-margin:       $card-spacer-y !default;

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: $card-bg;
  border: $card-border-width solid $card-border-color;
  border-radius: 2px;
  margin-bottom: 5px;
}

.card-block {
  // Enable `flex-grow: 1` for decks and groups so that card blocks take up
  // as much space as possible, ensuring footers are aligned to the bottom.
  flex: 1 1 auto;
  padding: $card-spacer-x;
}

.card-title {
  margin-bottom: $card-spacer-y;
}

.card-subtitle {
  margin-top: -($card-spacer-y / 2);
  margin-bottom: 5px;
}

.card-text:last-child {
  margin-bottom: 0;
}

.card-link {
  /*@include hover {
    text-decoration: none;
  }*/

  + .card-link {
    margin-left: $card-spacer-x;
  }
}

.card {
  > .list-group:first-child {
    .list-group-item:first-child {
      /*@include border-top-radius($card-border-radius);*/
    }
  }

  > .list-group:last-child {
    .list-group-item:last-child {
      /*@include border-bottom-radius($card-border-radius);*/
    }
  }
}

.card-img {
  /*// margin: -1.325rem;*/
  /*@include border-radius($card-border-radius-inner);*/
  width: 100%;
  height: auto;
}

.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: $card-img-overlay-padding;
}

.card-img-top {
  /*@include border-top-radius($card-border-radius-inner);*/
}
.card-img-bottom {
  /*@include border-bottom-radius($card-border-radius-inner);*/
}

.project-description {
	margin: auto;
	text-align: center;
}

.role {
	color: #FDBA62;
	border-style: solid;
	border-color: #FDBA62;
	border-width: 1px;
	font-size: 0.8em;
	padding: 0 5 1 5;
	margin-left: 8px;
}

.skill {
	background-color: blue;
	color: #FFF;
	border-style: none;
	border-radius: 5px;
	font-size: 0.8em;
	padding: 0 5 1 5;
	margin-left: 8px;
}